@model LojaVirtual_v2.Models.Colaborador
@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar</h1>

<form method="post">

    <div class="mb-3">
        <label asp-for="Nome" class="form-label">Nome</label>
        <input asp-for="Nome" class="form-control" placeholder="Digite o nome do colaborador">
        <span asp-validation-for="Nome" class="text-danger">  </span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control" placeholder="Digite o e-mail do colaborador">
        <span asp-validation-for="Email" class="text-danger">  </span>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <button asp-action="Index" class="btn btn-info">Voltar</button>
</form>